# OUTLINE
* Introduce DALBAR study, criticisms
* Methodology for using ETFs instead of MFs.  Reasoning - precise, daily, ascendant
* Choose a basket of ETFs: SPY, sectors, vol & other hot fads, small, trader funds (2x and 3x) etc...
* Pick one major fund in depth, track across time, 
* calculate a composite of many funds, find consistent level.  This is headline takeaway
* try comparing Vanguard to Powershares, etc...  Generalize
* try comparing boring funds to trendy funds. Generalize


   

# Timing of ETF Inflows and Outflows


## Introduction

...

In [368]:
from __future__ import print_function
from __future__ import division
from importlib import reload

import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
%matplotlib inline
from IPython import display
import seaborn as sns
import datetime

import os
os.getcwd()

## NOTE: Add paths to dependencies on any machine being used here.  Invalid paths will be silently ignored  
import sys
sys.path.append('/anaconda2/') # either place your config.py in this path, or add another sys.path.append() pointing to your path for config.py
import config ## TODO: place file called config.py in the /anaconda2/ folder

sys.path.append(config.REPO_ROOT+'data/') #Chad: Home
from prices.eod import iqfeed
from prices.eod.read import get_adjustment_factors

In [416]:
reload(iqfeed)
symbols = ['IBB','SPY','IWM','MUB']

#price = iqfeed.read_etf_daily(symbol)
price = iqfeed.read_etf_daily(symbols)


so = iqfeed.read_etf_so(symbols)
df = price[['close']].join(so)
df = df[df.so>0]

adj_factors = get_adjustment_factors(symbols).stack()
adj_factors.name = 'adj_factors'
#df = df.join(adj_factors)

df['close_adj'] = df.close * adj_factors

df['daily_ret'] = df.close.pct_change()
df['daily_ret_adj'] = df.close_adj.pct_change()

df['flow'] = df.so.pct_change()
df['mkt_cap'] = df.so*df.close
df['mkt_cap_adj'] = df.so*df.close_adj

df = df[df.daily_ret.abs()<0.2] # filter likely outliers

#df.dropna().tail()
#df.groupby(level='date').sum().resample('BM').sum().flow.abs().hist(bins=50)

In [442]:
def calc_twr(df,div_adj=True):
    if div_adj == True:
        cum_ret = (df.daily_ret_adj+1).product() - 1
    else:    
        cum_ret = (df.daily_ret+1).product() - 1
    return cum_ret

def calc_approx_mwr(df,div_adj=True):
    ''' Calculate the return for the full time period normalized for amount of capital deployed.
    '''
    if div_adj == True:
        # First, calculate the invested "basis" in terms of day 0 dollars.      
        adj_flows = df.flow*(df.mkt_cap_adj/df.mkt_cap_adj.iloc[0]) 
        adj_flows.iloc[0] = 1 # initial principal
        basis = (adj_flows).cumsum() #cumulative contributions in beginning of period dollars

        # Next, convert daily returns to log basis and weight by amount of capital deployed
        # to calculate an average compound return rate (log)
        log_rets = np.log(df.daily_ret_adj+1)
        
    else:
        # First, calculate the invested "basis" in terms of day 0 dollars.      
        adj_flows = df.flow*(df.mkt_cap/df.mkt_cap.iloc[0]) 
        adj_flows.iloc[0] = 1 # initial principal
        basis = (adj_flows).cumsum() #cumulative contributions in beginning of period dollars

        # Next, convert daily returns to log basis and weight by amount of capital deployed
        # to calculate an average compound return rate (log)
        log_rets = np.log(df.daily_ret+1)
        
    avg_daily_log_ret = (log_rets*basis / basis.mean()).mean()
    
    # finally, convert into a simple return for the full period
    cum_ret = (avg_daily_log_ret+1)**(len(log_rets))-1
    cr2 = np.exp(avg_daily_log_ret*len(basis))-1
    print(cr2)
    return cum_ret

df.sort_index(inplace=True)

for symbol in symbols:
    #tmp = df.xs(slice('2014-01-01','2016-12-31'),level='date',drop_level=False).xs(symbol,level='symbol',drop_level=True)
    tmp = df.xs(slice('2010-01-01','2016-12-31'),level='date',drop_level=False).xs(symbol,level='symbol',drop_level=True)
    print("For: {}".format(symbol))
    print("     MWR (adj): {}".format(calc_approx_mwr(tmp,True)))
    print("     TWR (adj): {}".format(calc_twr(tmp,True)))
    print("     MWR: {}".format(calc_approx_mwr(tmp,False)))
    print("     TWR: {}".format(calc_twr(tmp,False)))
    print()

For: IBB
3.0349885244299113
     MWR (adj): 3.0321709076138186
     TWR (adj): 3.216610800358125
2.9905209975875424
     MWR: 2.987778498692616
     TWR: 3.160047619891558

For: SPY
1.3197684764687496
     MWR (adj): 1.3192277142135018
     TWR (adj): 1.3145393690696014
0.9872106495894284
     MWR: 0.9869020808005136
     TWR: 1.0058327351041005

For: IWM
41.58689762851217
     MWR (adj): 41.39038490765354
     TWR (adj): 1.3952622622547683
26.617560018331925
     MWR: 26.517778319575704
     TWR: 1.1596732863549022

For: MUB
0.2458619885885378
     MWR (adj): 0.24584216019967942
     TWR (adj): 0.2875136873788646
-0.007986569484166428
     MWR: -0.00798659049377437
     TWR: 0.05284671532846419

In [428]:
def compare_annual(df):
    symbols = df.index.get_level_values('symbol').unique().tolist()
    
    out = pd.DataFrame()
    for symbol in symbols:
        twr = df.xs(symbol,level='symbol').resample('A').apply(calc_twr)
        twr.name = 'twr'
        mwr = df.xs(symbol,level='symbol').resample('A').apply(calc_approx_mwr)
        mwr.name = 'mwr'
        both = pd.concat([twr,mwr],axis=1).reset_index()
        both['symbol'] = symbol
        both.set_index(['date','symbol'],inplace=True)
        both['timing_impact'] = both.mwr - both.twr
        out = pd.concat([out,both],axis=0)
    return out

compare_annual(df).timing_impact.unstack()
#.xs(slice('2009-01-01','2009-12-31'),level='date',drop_level=False)

symbol           IBB       IWM       MUB       SPY
date
2001-12-31       NaN  0.040870       NaN  0.008642
2002-12-31       NaN -0.035075       NaN  0.021983
2003-12-31       NaN  0.009124       NaN -0.001100
2004-12-31       NaN  0.014258       NaN  0.038767
2005-12-31       NaN  0.070443       NaN -0.000278
2006-12-31       NaN -0.040335       NaN  0.009887
2007-12-31       NaN -0.101906  0.001694 -0.006682
2008-12-31 -0.007705 -0.089825  0.015259 -0.024945
2009-12-31 -0.003937 -0.006195  0.205986  0.091894
2010-12-31 -0.004188 -0.024463 -0.010388  0.003026
2011-12-31 -0.023432 -0.024591 -0.000257 -0.004885
2012-12-31 -0.048513 -0.018939 -0.006885 -0.011312
2013-12-31 -0.041727 -0.015781 -0.004810 -0.008363
2014-12-31 -0.007919 -0.013831 -0.002989 -0.014332
2015-12-31 -0.001297  0.202207  0.000740 -0.000669
2016-12-31  0.002876 -0.015579  0.000762 -0.004947
2017-12-31  0.002749 -0.005288 -0.000170 -0.000835

In [429]:
df.loc['2015'].xs('IWM',level='symbol')

,close,so,close_adj,daily_ret,daily_ret_adj,flow,mkt_cap,mkt_cap_adj
date,,,,,,,,
2015-01-02,118.93,251400000.0,113.637510,-0.005768,-0.005768,-0.007305,2.989900e+10,2.856847e+10
2015-01-05,117.34,250200000.0,112.118267,-0.013369,-0.013369,-0.004773,2.935847e+10,2.805199e+10
2015-01-06,115.31,242900000.0,110.178604,-0.017300,-0.017300,-0.029177,2.800880e+10,2.676238e+10
2015-01-07,116.73,240900000.0,111.535412,0.012315,0.012315,-0.008234,2.812026e+10,2.686888e+10
2015-01-08,118.71,237600000.0,113.427301,0.016962,0.016962,-0.013699,2.820550e+10,2.695033e+10
2015-01-09,117.57,240400000.0,112.338032,-0.009603,-0.009603,0.011785,2.826383e+10,2.700606e+10
2015-01-12,117.18,238400000.0,111.965387,-0.003317,-0.003317,-0.008319,2.793571e+10,2.669255e+10
2015-01-13,117.27,236900000.0,112.051382,0.000768,0.000768,-0.006292,2.778126e+10,2.654497e+10
2015-01-14,116.80,241650000.0,111.602297,-0.004008,-0.004008,0.020051,2.822472e+10,2.696870e+10
2015-01-15,114.83,242350000.0,109.719964,-0.016866,-0.016866,0.002897,2.782905e+10,2.659063e+10
2015-01-16,116.70,241950000.0,111.506747,0.016285,0.016285,-0.001651,2.823556e+10,2.697906e+10
2015-01-20,116.21,243300000.0,111.038553,-0.004199,-0.004199,0.005580,2.827389e+10,2.701568e+10
2015-01-21,115.84,246650000.0,110.685018,-0.003184,-0.003184,0.013769,2.857194e+10,2.730046e+10
2015-01-22,118.20,245200000.0,112.939996,0.020373,0.020373,-0.005879,2.898264e+10,2.769289e+10
2015-01-23,118.12,250800000.0,112.863556,-0.000677,-0.000677,0.022838,2.962450e+10,2.830618e+10
2015-01-26,119.26,252450000.0,113.952825,0.009651,0.009651,0.006579,3.010719e+10,2.876739e+10
2015-01-27,118.69,250450000.0,113.408191,-0.004779,-0.004779,-0.007922,2.972591e+10,2.840308e+10
2015-01-28,116.69,250250000.0,111.497192,-0.016851,-0.016851,-0.000799,2.920167e+10,2.790217e+10
2015-01-29,118.30,244500000.0,113.035546,0.013797,0.013797,-0.022977,2.892435e+10,2.763719e+10
2015-01-30,115.70,244900000.0,110.551248,-0.021978,-0.021978,0.001636,2.833493e+10,2.707400e+10
2015-02-02,116.76,238900000.0,111.564077,0.009162,0.009162,-0.024500,2.789396e+10,2.665266e+10
2015-02-03,118.85,237500000.0,113.561070,0.017900,0.017900,-0.005860,2.822688e+10,2.697075e+10
2015-02-04,118.41,242350000.0,113.140651,-0.003702,-0.003702,0.020421,2.869666e+10,2.741964e+10
2015-02-05,119.94,244850000.0,114.602565,0.012921,0.012921,0.010316,2.936731e+10,2.806044e+10
2015-02-06,119.81,250200000.0,114.478350,-0.001084,-0.001084,0.021850,2.997646e+10,2.864248e+10
2015-02-09,118.86,253950000.0,113.570625,-0.007929,-0.007929,0.014988,3.018450e+10,2.884126e+10
2015-02-10,119.62,251850000.0,114.296805,0.006394,0.006394,-0.008269,3.012630e+10,2.878565e+10
2015-02-11,119.45,249100000.0,114.134370,-0.001421,-0.001421,-0.010919,2.975500e+10,2.843087e+10
2015-02-12,120.81,246350000.0,115.433849,0.011386,0.011386,-0.011040,2.976154e+10,2.843713e+10
2015-02-13,121.53,246350000.0,116.121808,0.005960,0.005960,0.000000,2.993892e+10,2.860661e+10
...,...,...,...,...,...,...,...,...
2015-10-12,115.57,231550000.0,111.553202,-0.001469,-0.001469,0.026602,2.676023e+10,2.583014e+10
2015-10-13,113.99,234300000.0,110.028117,-0.013671,-0.013671,0.011876,2.670786e+10,2.577959e+10
2015-10-14,112.87,235000000.0,108.947044,-0.009825,-0.009825,0.002988,2.652445e+10,2.560256e+10
2015-10-15,115.57,233600000.0,111.553202,0.023921,0.023921,-0.005957,2.699715e+10,2.605883e+10
2015-10-16,115.42,232600000.0,111.408416,-0.001298,-0.001298,-0.004281,2.684669e+10,2.591360e+10
2015-10-19,115.64,234850000.0,111.620769,0.001906,0.001906,0.009673,2.715805e+10,2.621414e+10
2015-10-20,115.48,237900000.0,111.466330,-0.001384,-0.001384,0.012987,2.747269e+10,2.651784e+10
2015-10-21,113.72,237900000.0,109.767501,-0.015241,-0.015241,0.000000,2.705399e+10,2.611369e+10
2015-10-22,114.72,238800000.0,110.732745,0.008794,0.008794,0.003783,2.739514e+10,2.644298e+10
2015-10-23,115.85,230800000.0,111.823470,0.009850,0.009850,-0.033501,2.673818e+10,2.580886e+10
2015-10-26,115.06,232700000.0,111.060928,-0.006819,-0.006819,0.008232,2.677446e+10,2.584388e+10
2015-10-27,113.80,238500000.0,109.844721,-0.010951,-0.010951,0.024925,2.714130e+10,2.619797e+10
2015-10-28,117.12,234000000.0,113.049330,0.029174,0.029174,-0.018868,2.740608e+10,2.645354e+10
2015-10-29,115.87,227300000.0,111.842775,-0.010673,-0.010673,-0.028632,2.633725e+10,2.542186e+10
2015-10-30,115.34,225700000.0,111.331196,-0.004574,-0.004574,-0.007039,2.603224e+10,2.512745e+10
2015-11-02,117.74,229050000.0,113.647781,0.020808,0.020808,0.014843,2.696835e+10,2.603102e+10
2015-11-03,118.35,225100000.0,114.236579,0.005181,0.005181,-0.017245,2.664058e+10,2.571465e+10
2015-11-04,118.29,224100000.0,114.178665,-0.000507,-0.000507,-0.004442,2.650879e+10,2.558744e+10
2015-11-05,118.38,228850000.0,114.265537,0.000761,0.000761,0.021196,2.709126e+10,2.614967e+10
2015-11-06,119.22,232450000.0,115.076341,0.007096,0.007096,0.015731,2.771269e+10,2.674950e+10
2015-11-09,117.82,235050000.0,113.725000,-0.011743,-0.011743,0.011185,2.769359e+10,2.673106e+10
2015-11-10,118.17,241150000.0,114.062835,0.002971,0.002971,0.025952,2.849670e+10,2.750625e+10
2015-11-11,117.14,240650000.0,113.068635,-0.008716,-0.008716,-0.002073,2.818974e+10,2.720997e+10
2015-11-12,114.90,242100000.0,110.906489,-0.019122,-0.019122,0.006025,2.781729e+10,2.685046e+10
2015-11-13,114.07,243000000.0,110.105337,-0.007224,-0.007224,0.003717,2.771901e+10,2.675560e+10
2015-11-16,115.05,240150000.0,111.051275,0.008591,0.008591,-0.011728,2.762926e+10,2.666896e+10
2015-11-17,114.61,237700000.0,110.626568,-0.003824,-0.003824,-0.010202,2.724280e+10,2.629594e+10
2015-11-18,116.55,238350000.0,112.499141,0.016927,0.016927,0.002735,2.777969e+10,2.681417e+10
2015-11-19,116.06,238200000.0,112.026171,-0.004204,-0.004204,-0.000629,2.764549e+10,2.668463e+10
2015-11-20,116.81,237900000.0,112.750104,0.006462,0.006462,-0.001259,2.778910e+10,2.682325e+10

In [119]:
def OLD_calc_mwr(df):
    ''' irr in period'''
    begin_val = 10000.
    
    end_val = df.mkt_cap[-1]/df.mkt_cap[0]*10000.
    cum_flow = (df.flow+1).cumprod()-1
    
    balance = pd.Series(index=net_flows.index)
    balance.iloc[0] = begin_val #+ net_flows.iloc[0]
    
    
    net_flows.iloc[-1] = end_val + net_flows.iloc[-1]
    irr = np.irr(net_flows)
    print(irr)
    print(net_flows)
    
    cum_ret = (1+irr)**len(net_flows)-1
    
    return cum_ret

                    close           so  daily_ret      flow       mkt_cap
date       symbol
2017-06-28 SPY     243.49  982682112.0   0.008950 -0.003549  2.392733e+11
2017-06-29 SPY     241.35  981332096.0  -0.008789 -0.001374  2.368445e+11
2017-06-30 SPY     241.80  978982144.0   0.001865 -0.002395  2.367179e+11
2017-07-03 SPY     242.21  979182144.0   0.001696  0.000204  2.371677e+11
2017-07-05 SPY     242.77  977582144.0   0.002312 -0.001634  2.373276e+11

In [89]:

#cash_flow_series = np.array([begin_val]),net_flows.values,end_val])
#np.irr(cash_flow_series)

In [214]:
df = ibb.xs(slice('2012-01-01',None),level='date',drop_level=False)#ibb.loc[slice('2014-01-04',None)]
adj_flows = df.flow*(df.mkt_cap/df.mkt_cap.iloc[0]) #contributions in beginning of period dollars
adj_flows.iloc[0] = 1 # initial principal
basis = (adj_flows).cumsum() #cumulative contributions in beginning of period dollars
adj_ret = df.daily_ret*basis # daily returns weighted by amount of capital
adj_growth_factor = adj_ret + 1
print("MWR: {}".format(((adj_ret+1).product()-1)/basis.mean()))
print("TWR: {}".format(calc_twr(df)))

MWR: -0.18491837846508344
TWR: 1.7661715380929603

In [412]:
def calc_approx_mwr(df):
    ''' Calculate the return for the full time period normalized for amount of capital deployed.
    '''
    
    # First, calculate the invested "basis" in terms of day 0 dollars.  
    adj_flows = df.flow*(df.mkt_cap/df.mkt_cap.iloc[0]) 
    adj_flows.iloc[0] = 1 # initial principal
    basis = (adj_flows).cumsum() #cumulative contributions in beginning of period dollars
    
    # Next, convert daily returns to log basis and weight by amount of capital deployed
    # to calculate an average compound return rate (log)
    log_rets = np.log(df.daily_ret+1)
    avg_daily_log_ret = (log_rets*basis / basis.mean()).mean()
    
    # finally, convert into a simple return for the full period
    cum_ret = (avg_daily_log_ret+1)**(len(log_rets))-1
    
    return cum_ret

df = spy.loc['2012']
print("MWR: {}".format(calc_approx_mwr(df)))
print("TWR: {}".format(calc_twr(df)))

MWR: 0.12225087176730187
TWR: 0.1347410358565735

In [310]:
twr = ibb.xs('IBB',level='symbol').resample('A').apply(calc_twr)
twr.name = 'twr'

mwr = ibb.xs('IBB',level='symbol').resample('A').apply(calc_dollar_wtd_return)
mwr.name = 'mwr'
a = pd.concat([twr,mwr],axis=1)
a

                 twr       mwr
date
2008-12-31 -0.117062 -0.126849
2009-12-31  0.151724  0.147788
2010-12-31  0.141635  0.137532
2011-12-31  0.116999  0.093576
2012-12-31  0.314998  0.266257
2013-12-31  0.654715  0.613040
2014-12-31  0.341584  0.333664
2015-12-31  0.094544  0.093242
2016-12-31 -0.198878 -0.182096
2017-12-31  0.080641  0.083402

In [296]:
mwr

date
2001-12-31   -0.150529
2002-12-31   -0.207484
2003-12-31    0.259101
2004-12-31    0.121244
2005-12-31    0.028147
2006-12-31    0.145736
2007-12-31    0.020229
2008-12-31   -0.409775
2009-12-31    0.239060
2010-12-31    0.129616
2011-12-31   -0.007705
2012-12-31    0.122251
2013-12-31    0.287759
2014-12-31    0.098671
2015-12-31    0.017413
2016-12-31    0.064487
2017-12-31    0.084245
Freq: A-DEC, dtype: float64

In [231]:
(np.log((df.daily_ret+1)).mean()+1)**(len(df.daily_ret))-1

1.7646530733454409

In [256]:
df = ibb.loc['2012']#.xs(slice('2012-01-01',None),level='date',drop_level=False)
# TWR (weight all equally)
log_rets = np.log((df.daily_ret+1))
avg_daily_log_ret = log_rets.mean()
compound_growth = (avg_daily_log_ret+1)**(len(df.daily_ret))-1
print("TWR: {}".format(compound_growth))

# MWR (weight by dollar values)
log_rets = np.log(df.daily_ret+1)
avg_daily_log_ret = (log_rets*basis / basis.mean()).mean()
compound_growth = (avg_daily_log_ret+1)**(len(df.daily_ret))-1
print("MWR: {}".format(compound_growth))

TWR: 0.31479976057251835
MWR: 0.1395297599284404

In [277]:
df['log_ret'] = np.log(1+df.daily_ret)
df['adj_flow'] = df.flow*(df.mkt_cap/df.mkt_cap.iloc[0])
df['future_avg_log_ret'] = df.sort_index(ascending=False).log_ret.expanding().mean() 
df.future_avg_log_ret*df.flow

C:\Anaconda2\envs\blog\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Anaconda2\envs\blog\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Anaconda2\envs\blog\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

date        symbol
2012-01-03  IBB       0.000008
2012-01-04  IBB       0.000008
2012-01-05  IBB       0.000049
2012-01-06  IBB       0.000000
2012-01-09  IBB      -0.000007
2012-01-10  IBB      -0.000007
2012-01-11  IBB       0.000029
2012-01-12  IBB      -0.000051
2012-01-13  IBB      -0.000006
2012-01-17  IBB       0.000000
2012-01-18  IBB      -0.000009
2012-01-19  IBB      -0.000012
2012-01-20  IBB       0.000000
2012-01-23  IBB      -0.000006
2012-01-24  IBB       0.000020
2012-01-25  IBB       0.000038
2012-01-26  IBB       0.000013
2012-01-27  IBB       0.000003
2012-01-30  IBB       0.000010
2012-01-31  IBB       0.000016
2012-02-01  IBB      -0.000005
2012-02-02  IBB      -0.000029
2012-02-03  IBB       0.000009
2012-02-06  IBB       0.000000
2012-02-07  IBB       0.000004
2012-02-08  IBB       0.000000
2012-02-09  IBB       0.000023
2012-02-10  IBB       0.000009
2012-02-13  IBB      -0.000004
2012-02-14  IBB       0.000004
                        ...
2012-11-16  IBB      -0.000036
2012-11-19  IBB       0.000019
2012-11-20  IBB       0.000016
2012-11-21  IBB       0.000000
2012-11-23  IBB       0.000002
2012-11-26  IBB      -0.000000
2012-11-27  IBB      -0.000002
2012-11-28  IBB       0.000000
2012-11-29  IBB       0.000002
2012-11-30  IBB      -0.000000
2012-12-03  IBB      -0.000000
2012-12-04  IBB       0.000003
2012-12-05  IBB      -0.000000
2012-12-06  IBB       0.000009
2012-12-07  IBB      -0.000000
2012-12-10  IBB       0.000000
2012-12-11  IBB      -0.000000
2012-12-12  IBB      -0.000000
2012-12-13  IBB      -0.000027
2012-12-14  IBB      -0.000000
2012-12-17  IBB       0.000004
2012-12-18  IBB      -0.000000
2012-12-19  IBB      -0.000010
2012-12-20  IBB      -0.000000
2012-12-21  IBB      -0.000014
2012-12-24  IBB       0.000007
2012-12-26  IBB      -0.000000
2012-12-27  IBB      -0.000009
2012-12-28  IBB       0.000048
2012-12-31  IBB       0.000000
Length: 249, dtype: float64

In [261]:
np.e**(log_rets.cumsum())-1

date        symbol
2012-01-03  IBB       0.009296
2012-01-04  IBB       0.004983
2012-01-05  IBB       0.019166
2012-01-06  IBB       0.027408
2012-01-09  IBB       0.041687
2012-01-10  IBB       0.062290
2012-01-11  IBB       0.068807
2012-01-12  IBB       0.076282
2012-01-13  IBB       0.076665
2012-01-17  IBB       0.083373
2012-01-18  IBB       0.095640
2012-01-19  IBB       0.090656
2012-01-20  IBB       0.082894
2012-01-23  IBB       0.076378
2012-01-24  IBB       0.082607
2012-01-25  IBB       0.109056
2012-01-26  IBB       0.099281
2012-01-27  IBB       0.112985
2012-01-30  IBB       0.107810
2012-01-31  IBB       0.111644
2012-02-01  IBB       0.135889
2012-02-02  IBB       0.142405
2012-02-03  IBB       0.156109
2012-02-06  IBB       0.168088
2012-02-07  IBB       0.160038
2012-02-08  IBB       0.151030
2012-02-09  IBB       0.144609
2012-02-10  IBB       0.139243
2012-02-13  IBB       0.165884
2012-02-14  IBB       0.155534
                        ...
2012-11-16  IBB       0.261332
2012-11-19  IBB       0.278660
2012-11-20  IBB       0.305319
2012-11-21  IBB       0.308385
2012-11-23  IBB       0.324581
2012-11-26  IBB       0.317982
2012-11-27  IBB       0.313081
2012-11-28  IBB       0.319214
2012-11-29  IBB       0.340393
2012-11-30  IBB       0.329660
2012-12-03  IBB       0.326689
2012-12-04  IBB       0.327072
2012-12-05  IBB       0.325827
2012-12-06  IBB       0.319885
2012-12-07  IBB       0.312027
2012-12-10  IBB       0.331768
2012-12-11  IBB       0.352755
2012-12-12  IBB       0.348155
2012-12-13  IBB       0.331385
2012-12-14  IBB       0.323047
2012-12-17  IBB       0.335985
2012-12-18  IBB       0.349018
2012-12-19  IBB       0.332726
2012-12-20  IBB       0.332822
2012-12-21  IBB       0.321993
2012-12-24  IBB       0.320939
2012-12-26  IBB       0.309344
2012-12-27  IBB       0.305319
2012-12-28  IBB       0.293113
2012-12-31  IBB       0.314998
Name: daily_ret, Length: 249, dtype: float64

## Summary
This post presented the concept of organizing data into a `features` dataframe and `outcome` dataframe, and then showed how simple it is to join these two dataframes together to train a model.  

True, the convention may take a few examples to get used to.  However, after trial and error, I've found this to be the most error-resistant, flexible, and high-performance way to go.

In the [next post], I will share some methods of feature engineering and feature selection.